.pwgen-tooltip {
  all: initial;
  cursor: default;
  transition: 200ms ease;
  background-color: #fff;
  position: absolute;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: auto;
}

.pwgen-tooltip::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #fff;
  transform: rotate(45deg);
  position: absolute;
  bottom: -10px;
  left: calc(50% - 10px);
}

.pwgen-tooltip p {
  margin: 0;
  color: #000;
  /* TODO: スタイル継承問題解決後に削除 */
  -webkit-text-fill-color: #000;
}
