.pwgen-toast {
  font-size: 14px;
  width: 540px;
  max-width: 100% !important;
}

.pwgen-toast .notyf__wrapper {
  padding-top: 12px;
  padding-bottom: 12px;
}

.pwgen-toast .notyf__icon {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pwgen-toast__icon {
  background-image: url('chrome-extension://__MSG_@@extension_id__/img/icon/icon128.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.pwgen-toast p {
  margin: 0;
}

.pwgen-toast a {
  color: #00f;
}

.pwgen-toast a:visited {
  color: #a500ff;
}

/* 既存レイアウト改変用スタイル */
/* TODO: 出し分け用クラスの外部化 SCSS対応の必要あり？ */

.pwgen-optimized-layout .dlkey_inp {
  width: 48px !important;
  margin-bottom: 6px !important;
}

.pwgen-optimized-layout #matomete_btn {
  margin-top: 4px !important;
}

.pwgen-optimized-layout #matomete_btn,
.pwgen-optimized-layout .pwgen-pack-up-with-pw-button {
  margin-left: 0 !important;
  width: 100% !important;
}

/* まとめるボタンの親要素にクラスがなく指定できないため、下の要素のmargin-topを増やして下の余白をとる */
.pwgen-optimized-layout #matomete_link {
  margin-top: 10px !important;
}
