@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

* {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  width: 300px;
  padding: 16px;
}

.title {
  font-size: 20px;
  text-align: center;
  padding-bottom: 16px;
  border-bottom: solid 1px #aaa;
}

.require-reload-annotation {
  margin-top: 16px;
}

.require-reload-mark::before {
  content: "*";
  color: #c5cf00;
}

.setting-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.setting-list-item label {
  font-size: 14px;
}

.setting-list-item label .require-reload-mark {
  margin-left: 4px;
}

.setting-list-item-input-toggle input {
  display: none;
}

.setting-list-item-input-toggle .setting-list-item-input-toggle__switch {
  display: block;
  width: 48px;
  height: 24px;
  border: solid 1px #666;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #aaa;
  transition: 200ms ease;
}

.setting-list-item-input-toggle .setting-list-item-input-toggle__switch::before {
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 25px;
  background-color: #fff;
  transition: 200ms ease;
}

.setting-list-item-input-toggle input:checked + .setting-list-item-input-toggle__switch {
  background-color: #4ad64a;
}

.setting-list-item-input-toggle input:checked + .setting-list-item-input-toggle__switch::before {
  content: "";
  transform: translateX(100%);
}

.setting-list-item-input-select {
  border-radius: 4px;
  padding: 4px 8px;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #222;
    color: #fff;
  }

  .setting-list-item-input-select {
    background-color: #222;
    color: #fff;
  }
}
